.form__submit-button_theme-dark {
	margin-top: auto;
	border-radius: 40px;
	color: #000000;
	background-color: rgba(0, 149, 255, 1);
}

.form__submit-button_theme-dark:hover {
	background-color: rgba(0, 149, 255, 0.6);
	transition: 0s;
}

@media screen and (max-width: 619px) {
	.form__submit-button_theme-dark {
		width: 260px;
		font-size: 16px;
	}
}