.page {
	margin: 0 auto;
	padding: 0;
	min-width: 320px;
	min-height: 100dvh;
	width: 100%;
	/* обл. без прокрутки */
	--bgcol: #131418;
	background-color: var(--bgcol);
	color: white;
	font-family: 'Inter', Arial, sans-serif;
	cursor: default;
}