.form__submit-button_disabled {
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #000000;
	opacity: .3;
	cursor: not-allowed;
}

.form__submit-button_disabled:hover {
	color: #000000;
	background-color: #ffffff;
}