.form__theme-dark {
	margin: auto;
	padding-bottom: 0;
	height: calc(100dvh - 264px);
	min-height: fit-content;
	color: #FFFFFF;
	background-color: unset;
}

@media screen and (min-width: 620px) and (max-width: 918px) {
	.form__theme-dark {
		height: calc(100dvh - 190px);
	}
}

@media screen and (max-width: 620px) {
	.form__theme-dark {
		height: calc(100dvh - 181px);
	}
}

@media screen and (max-width: 619px) {
	.form__theme-dark {
		width: 304px;
	}
}