.profile {
	margin: 0 auto;
	margin-top: 40px;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}

@media screen and (max-width: 918px) {
	.profile {
		margin-top: 42px;
		flex-direction: column;
	}
}