.profile {
	margin: 0 auto;
	margin-top: 40px;
	max-width: 100%;
	display: flex;
	flex-wrap: nowrap;
	transition: 1s;
}

@media screen and (max-width: 918px) {
	.profile {
		margin-top: 42px;
		flex-direction: column;
		align-items: center;
	}
}