.footer {
	margin: 0 auto;
	margin-top: auto;
	width: calc(100% - 10px);
	max-width: 880px;
	padding-top: 66px;
	padding-bottom: 60px;
	box-sizing: border-box;
}

@media screen and (max-width: 918px) {
	.footer {
		padding-top: 48px;
		padding-bottom: 36px;
		padding-left: 27px;
		padding-right: 27px;
	}
}