.popup__container {
	position: relative;
	margin: 0;
	margin-top: 40px;
	width: fit-content;
	height: fit-content;
	scale: .75;
	transition: .35s;
	touch-action: none;
	cursor: default;
}

@media screen and (max-width: 619px) {
	.popup__container {
		margin-top: 36px;
	}
}

@media screen and (max-height: 400px) {
	.popup__container {
		margin-top: 0;
	}
}