.form__error-message {
	margin: 0;
	margin-top: 2px;
	width: 358px;
	height: 30px;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	color: #FF0000;
	transition: .5s;
}

.form__error-message:last-of-type {
	margin-bottom: 10px;
}

@media screen and (max-width: 619px) {
	.form__error-message {
		width: 238px;
	}

	.form__error-message:last-of-type {
		margin-bottom: 5px;
	}
}