.header {
	margin: 0 auto;
	max-width: 880px;
	padding-top: 45px;
	padding-bottom: 38px;
	margin-bottom: 34px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(84, 84, 84, .7);
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 918px) {
	.header {
		padding-top: 28px;
		padding-bottom: 28px;
		padding-left: 27px;
		padding-right: 27px;
	}
}