.info__text {
	margin-top: 32px;
	width: 100%;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	text-align: center;
}

@media screen and (max-width: 619px) {
	.info__text {
		width: 244px;
		font-size: 20px;
	}
}